<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.reviewandroid">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ReviewActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activity.LineActivity" />
        <activity android:name=".activity.fourComponents.ReviewServiceActivity" />

        //服务注册
        <service android:name=".activity.fourComponents.MyService" />

        //广播注册
        <receiver
            android:name=".activity.fourComponents.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="myReceiver" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.fourComponents.AlarmActivity" />
        <activity android:name=".view.ClockViewActivity" />
        <activity android:name=".view.ImageViewActivity" />
        <activity android:name=".view.SearchActivity" />
        <activity android:name=".view.FinishActivity" />
        <activity android:name=".activity.activityToActivity.OneActivity" />
        <activity android:name=".activity.activityToActivity.SecondActivity" />
        <activity android:name=".activity.activityToFragment.ActivityToFragmentActivity" />
        <activity android:name=".activity.AllAnimationActivity" />
        <activity android:name=".activity.activityToService.ActivityToServiceActivity"></activity>

        //服务注册
        <service android:name=".activity.activityToService.DownLoadService" />
    </application>

</manifest>